@media (max-width:1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width:650px){
    .body{
        background-color: #ffffff;
    }
    
    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-Continue{
        width: 100%;
    }

    .group{
        border-top: 1px solid transparent;
    }
} 